In [1]:
import pandas  as pd
import numpy as np
import os
import math
import datetime

os.chdir("E:/Python DS/Assignments")

store = pd.read_csv("DataSets/Store.csv", encoding='latin')

In [5]:
print(store.shape)
print(store.columns)

(9994, 21)
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [7]:
# How many unique cities are the orders being delivered to
print(store.City.unique())

['Henderson' 'Los Angeles' 'Fort Lauderdale' 'Concord' 'Seattle'
 'Fort Worth' 'Madison' 'West Jordan' 'San Francisco' 'Fremont'
 'Philadelphia' 'Orem' 'Houston' 'Richardson' 'Naperville' 'Melbourne'
 'Eagan' 'Westland' 'Dover' 'New Albany' 'New York City' 'Troy' 'Chicago'
 'Gilbert' 'Springfield' 'Jackson' 'Memphis' 'Decatur' 'Durham' 'Columbia'
 'Rochester' 'Minneapolis' 'Portland' 'Saint Paul' 'Aurora' 'Charlotte'
 'Orland Park' 'Urbandale' 'Columbus' 'Bristol' 'Wilmington' 'Bloomington'
 'Phoenix' 'Roseville' 'Independence' 'Pasadena' 'Newark' 'Franklin'
 'Scottsdale' 'San Jose' 'Edmond' 'Carlsbad' 'San Antonio' 'Monroe'
 'Fairfield' 'Grand Prairie' 'Redlands' 'Hamilton' 'Westfield' 'Akron'
 'Denver' 'Dallas' 'Whittier' 'Saginaw' 'Medina' 'Dublin' 'Detroit' 'Tampa'
 'Santa Clara' 'Lakeville' 'San Diego' 'Brentwood' 'Chapel Hill'
 'Morristown' 'Cincinnati' 'Inglewood' 'Tamarac' 'Colorado Springs'
 'Belleville' 'Taylor' 'Lakewood' 'Arlington' 'Arvada' 'Hackensack'
 'Saint Petersburg' 'Long Beach' 'Hesperia' 'Murfreesboro' 'Layton'
 'Austin' 'Lowell' 'Manchester' 'Harlingen' 'Tucson' 'Quincy'
 'Pembroke Pines' 'Des Moines' 'Peoria' 'Las Vegas' 'Warwick' 'Miami'
 'Huntington Beach' 'Richmond' 'Louisville' 'Lawrence' 'Canton'
 'New Rochelle' 'Gastonia' 'Jacksonville' 'Auburn' 'Norman' 'Park Ridge'
 'Amarillo' 'Lindenhurst' 'Huntsville' 'Fayetteville' 'Costa Mesa' 'Parker'
 'Atlanta' 'Gladstone' 'Great Falls' 'Lakeland' 'Montgomery' 'Mesa'
 'Green Bay' 'Anaheim' 'Marysville' 'Salem' 'Laredo' 'Grove City'
 'Dearborn' 'Warner Robins' 'Vallejo' 'Mission Viejo' 'Rochester Hills'
 'Plainfield' 'Sierra Vista' 'Vancouver' 'Cleveland' 'Tyler' 'Burlington'
 'Waynesboro' 'Chester' 'Cary' 'Palm Coast' 'Mount Vernon' 'Hialeah'
 'Oceanside' 'Evanston' 'Trenton' 'Cottage Grove' 'Bossier City'
 'Lancaster' 'Asheville' 'Lake Elsinore' 'Omaha' 'Edmonds' 'Santa Ana'
 'Milwaukee' 'Florence' 'Lorain' 'Linden' 'Salinas' 'New Brunswick'
 'Garland' 'Norwich' 'Alexandria' 'Toledo' 'Farmington' 'Riverside'
 'Torrance' 'Round Rock' 'Boca Raton' 'Virginia Beach' 'Murrieta' 'Olympia'
 'Washington' 'Jefferson City' 'Saint Peters' 'Rockford' 'Brownsville'
 'Yonkers' 'Oakland' 'Clinton' 'Encinitas' 'Roswell' 'Jonesboro' 'Antioch'
 'Homestead' 'La Porte' 'Lansing' 'Cuyahoga Falls' 'Reno' 'Harrisonburg'
 'Escondido' 'Royal Oak' 'Rockville' 'Coral Springs' 'Buffalo'
 'Boynton Beach' 'Gulfport' 'Fresno' 'Greenville' 'Macon' 'Cedar Rapids'
 'Providence' 'Pueblo' 'Deltona' 'Murray' 'Middletown' 'Freeport'
 'Pico Rivera' 'Provo' 'Pleasant Grove' 'Smyrna' 'Parma' 'Mobile'
 'New Bedford' 'Irving' 'Vineland' 'Glendale' 'Niagara Falls' 'Thomasville'
 'Westminster' 'Coppell' 'Pomona' 'North Las Vegas' 'Allentown' 'Tempe'
 'Laguna Niguel' 'Bridgeton' 'Everett' 'Watertown' 'Appleton' 'Bellevue'
 'Allen' 'El Paso' 'Grapevine' 'Carrollton' 'Kent' 'Lafayette' 'Tigard'
 'Skokie' 'Plano' 'Suffolk' 'Indianapolis' 'Bayonne' 'Greensboro'
 'Baltimore' 'Kenosha' 'Olathe' 'Tulsa' 'Redmond' 'Raleigh' 'Muskogee'
 'Meriden' 'Bowling Green' 'South Bend' 'Spokane' 'Keller' 'Port Orange'
 'Medford' 'Charlottesville' 'Missoula' 'Apopka' 'Reading' 'Broomfield'
 'Paterson' 'Oklahoma City' 'Chesapeake' 'Lubbock' 'Johnson City'
 'San Bernardino' 'Leominster' 'Bozeman' 'Perth Amboy' 'Ontario'
 'Rancho Cucamonga' 'Moorhead' 'Mesquite' 'Stockton' 'Ormond Beach'
 'Sunnyvale' 'York' 'College Station' 'Saint Louis' 'Manteca' 'San Angelo'
 'Salt Lake City' 'Knoxville' 'Little Rock' 'Lincoln Park' 'Marion'
 'Littleton' 'Bangor' 'Southaven' 'New Castle' 'Midland' 'Sioux Falls'
 'Fort Collins' 'Clarksville' 'Sacramento' 'Thousand Oaks' 'Malden'
 'Holyoke' 'Albuquerque' 'Sparks' 'Coachella' 'Elmhurst' 'Passaic'
 'North Charleston' 'Newport News' 'Jamestown' 'Mishawaka' 'La Quinta'
 'Tallahassee' 'Nashville' 'Bellingham' 'Woodstock' 'Haltom City'
 'Wheeling' 'Summerville' 'Hot Springs' 'Englewood' 'Las Cruces' 'Hoover'
 'Frisco' 'Vacaville' 'Waukesha' 'Bakersfield' 'Pompano Beach'
 'Corpus Christi' 'Redondo Beach' 'Orlando' 'Orange' 'Lake Charles'
 'Highland Park' 'Hempstead' 'Noblesville' 'Apple Valley' 'Mount Pleasant'
 'Sterling Heights' 'Eau Claire' 'Pharr' 'Billings' 'Gresham' 'Chattanooga'
 'Meridian' 'Bolingbrook' 'Maple Grove' 'Woodland' 'Missouri City'
 'Pearland' 'San Mateo' 'Grand Rapids' 'Visalia' 'Overland Park' 'Temecula'
 'Yucaipa' 'Revere' 'Conroe' 'Tinley Park' 'Dubuque' 'Dearborn Heights'
 'Santa Fe' 'Hickory' 'Carol Stream' 'Saint Cloud' 'North Miami'
 'Plantation' 'Port Saint Lucie' 'Rock Hill' 'Odessa' 'West Allis'
 'Chula Vista' 'Manhattan' 'Altoona' 'Thornton' 'Champaign' 'Texarkana'
 'Edinburg' 'Baytown' 'Greenwood' 'Woonsocket' 'Superior' 'Bedford'
 'Covington' 'Broken Arrow' 'Miramar' 'Hollywood' 'Deer Park' 'Wichita'
 'Mcallen' 'Iowa City' 'Boise' 'Cranston' 'Port Arthur' 'Citrus Heights'
 'The Colony' 'Daytona Beach' 'Bullhead City' 'Portage' 'Fargo' 'Elkhart'
 'San Gabriel' 'Margate' 'Sandy Springs' 'Mentor' 'Lawton' 'Hampton' 'Rome'
 'La Crosse' 'Lewiston' 'Hattiesburg' 'Danville' 'Logan' 'Waterbury'
 'Athens' 'Avondale' 'Marietta' 'Yuma' 'Wausau' 'Pasco' 'Oak Park'
 'Pensacola' 'League City' 'Gaithersburg' 'Lehi' 'Tuscaloosa'
 'Moreno Valley' 'Georgetown' 'Loveland' 'Chandler' 'Helena' 'Kirkwood'
 'Waco' 'Frankfort' 'Bethlehem' 'Grand Island' 'Woodbury' 'Rogers' 'Clovis'
 'Jupiter' 'Santa Barbara' 'Cedar Hill' 'Norfolk' 'Draper' 'Ann Arbor'
 'La Mesa' 'Pocatello' 'Holland' 'Milford' 'Buffalo Grove' 'Lake Forest'
 'Redding' 'Chico' 'Utica' 'Conway' 'Cheyenne' 'Owensboro' 'Caldwell'
 'Kenner' 'Nashua' 'Bartlett' 'Redwood City' 'Lebanon' 'Santa Maria'
 'Des Plaines' 'Longview' 'Hendersonville' 'Waterloo' 'Cambridge'
 'Palatine' 'Beverly' 'Eugene' 'Oxnard' 'Renton' 'Glenview' 'Delray Beach'
 'Commerce City' 'Texas City' 'Wilson' 'Rio Rancho' 'Goldsboro'
 'Montebello' 'El Cajon' 'Beaumont' 'West Palm Beach' 'Abilene' 'Normal'
 'Saint Charles' 'Camarillo' 'Hillsboro' 'Burbank' 'Modesto' 'Garden City'
 'Atlantic City' 'Longmont' 'Davis' 'Morgan Hill' 'Clifton' 'Sheboygan'
 'East Point' 'Rapid City' 'Andover' 'Kissimmee' 'Shelton' 'Danbury'
 'Sanford' 'San Marcos' 'Greeley' 'Mansfield' 'Elyria' 'Twin Falls'
 'Coral Gables' 'Romeoville' 'Marlborough' 'Laurel' 'Bryan' 'Pine Bluff'
 'Aberdeen' 'Hagerstown' 'East Orange' 'Arlington Heights' 'Oswego'
 'Coon Rapids' 'San Clemente' 'San Luis Obispo' 'Springdale' 'Lodi' 'Mason']

In [9]:
# What is the total quantity sold in the East Region?
print(store[store.Region == "East"]['Quantity'].count())
print(store.Quantity[store.Region == 'East'].count())

2848
2848

In [11]:
# Find the sum of the quantity sold in the East Region
print(store.Quantity[store.Region == 'East'].sum())

10618

In [12]:
# In the south region sort the sales in decreasing order
print(store[store.Region == 'South'].sort_values(by = 'Sales'))

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
2605    2606  CA-2011-112718  12/16/2011  12/21/2011  Standard Class
9382    9383  CA-2011-154158  12/23/2011  12/27/2011    Second Class
6597    6598  CA-2011-169257    6/6/2011   6/12/2011  Standard Class
7900    7901  CA-2014-128363   8/14/2014   8/19/2014  Standard Class
8317    8318  CA-2014-130904   4/12/2014   4/17/2014  Standard Class
4005    4006  US-2012-168732  12/10/2012  12/16/2012  Standard Class
5479    5480  CA-2011-101770   3/31/2011    4/4/2011  Standard Class
7311    7312  CA-2012-162761   10/9/2012  10/13/2012  Standard Class
3769    3770  CA-2011-153913  12/16/2011  12/20/2011    Second Class
5440    5441  US-2014-153633  11/14/2014  11/19/2014    Second Class
4878    4879  US-2013-131891   7/30/2013    8/1/2013     First Class
2779    2780  CA-2014-108322    5/1/2014    5/6/2014  Standard Class
8215    8216  CA-2012-120845   9/25/2012   10/2/2012  Standard Class
4913    4914  CA-2014-127306   1/15/2014   1/19/2014  Standard Class
8579    8580  CA-2013-111605  12/28/2013    1/3/2014  Standard Class
8207    8208  CA-2012-122266   4/26/2012   4/30/2012  Standard Class
3687    3688  CA-2013-108567   5/21/2013   5/25/2013  Standard Class
506      507  CA-2012-145352   3/16/2012   3/22/2012  Standard Class
2665    2666  CA-2013-164784    5/2/2013    5/5/2013     First Class
5893    5894  CA-2014-159954   9/11/2014   9/15/2014  Standard Class
4300    4301  CA-2014-129021   8/24/2014   8/27/2014    Second Class
4155    4156  CA-2013-139689  12/30/2013    1/4/2014  Standard Class
2120    2121  US-2014-168690    1/8/2014   1/14/2014  Standard Class
2217    2218  CA-2011-151953   9/20/2011   9/25/2011  Standard Class
7805    7806  CA-2012-102260   9/22/2012   9/26/2012  Standard Class
7573    7574  CA-2011-100916  10/21/2011  10/26/2011  Standard Class
3589    3590  CA-2014-146535  11/25/2014   12/1/2014  Standard Class
865      866  CA-2011-149020   1/11/2011   1/16/2011  Standard Class
8850    8851  CA-2012-140718    7/2/2012    7/4/2012     First Class
3381    3382  US-2014-162208   8/28/2014   8/31/2014     First Class
...      ...             ...         ...         ...             ...
9033    9034  CA-2011-152268    9/2/2011    9/7/2011  Standard Class
5185    5186  CA-2012-134719  10/10/2012  10/15/2012  Standard Class
1433    1434  CA-2011-120768  12/19/2011  12/21/2011    Second Class
7846    7847  CA-2012-125976   9/27/2012   10/2/2012  Standard Class
8993    8994  CA-2014-159100  10/17/2014  10/22/2014  Standard Class
5301    5302  CA-2013-113831   5/31/2013    6/4/2013  Standard Class
8680    8681  CA-2013-143805   12/2/2013   12/4/2013    Second Class
8699    8700  CA-2014-119284   6/16/2014   6/21/2014  Standard Class
1155    1156  CA-2011-136567  12/20/2011  12/21/2011     First Class
4881    4882  CA-2014-143567   11/3/2014   11/6/2014    Second Class
5300    5301  CA-2013-113831   5/31/2013    6/4/2013  Standard Class
5320    5321  US-2014-162558   10/3/2014   10/6/2014     First Class
3580    3581  CA-2013-104157   7/26/2013   7/30/2013  Standard Class
7474    7475  CA-2011-167199    1/7/2011   1/11/2011  Standard Class
4128    4129  CA-2011-127299   9/19/2011   9/24/2011  Standard Class
2848    2849  CA-2014-157854    4/9/2014   4/16/2014  Standard Class
994      995  CA-2011-117639   5/21/2011   5/25/2011  Standard Class
8236    8237  CA-2014-102204    5/2/2014    5/7/2014  Standard Class
8312    8313  US-2014-105935   1/27/2014    2/1/2014  Standard Class
5562    5563  CA-2014-133263    4/1/2014    4/3/2014    Second Class
1454    1455  CA-2013-133711  11/27/2013  11/30/2013     First Class
4093    4094  CA-2012-102491   8/24/2012   8/28/2012  Standard Class
7583    7584  CA-2011-163223   3/21/2011   3/25/2011  Standard Class
3280    3281  CA-2011-102988    4/5/2011    4/9/2011    Second Class
9639    9640  CA-2012-116638   1/28/2012   1/31/2012    Second Class
4297    4298  CA-2014-129021   8/24/2014   8/27/2014    Second Class
509      510  CA-2012-145352   3/16/2012   3/22/2012  Standard Class
683      684  US-2014-168116   11/5/2014   11/5/2014        Same Day
8488    8489  CA-2013-158841    2/2/2013    2/4/2013    Second Class
2697    2698  CA-2011-145317   3/18/2011   3/23/2011  Standard Class

     Customer ID         Customer Name      Segment        Country  \
2605    KN-16450           Kean Nguyen    Corporate  United States
9382    CC-12670        Craig Carreira     Consumer  United States
6597    SV-20785      Stewart Visinsky     Consumer  United States
7900    DC-12850          Dan Campbell     Consumer  United States
8317    HM-14980     Henry MacAllister     Consumer  United States
4005    KM-16660          Khloe Miller     Consumer  United States
5479    KB-16240            Karen Bern    Corporate  United States
7311    SC-20575          Sonia Cooley     Consumer  United States
3769    KB-16585             Ken Black    Corporate  United States
5440    TC-21295         Toby Carlisle     Consumer  United States
4878    PW-19240          Pierre Wener     Consumer  United States
2779    SS-20140      Saphhira Shifley    Corporate  United States
8215    ML-17395   Marina Lichtenstein    Corporate  United States
4913    BH-11710       Brosina Hoffman     Consumer  United States
8579    JW-15955        Joni Wasserman     Consumer  United States
8207    SA-20830          Sue Ann Reed     Consumer  United States
3687    DB-13210           Dean Braden     Consumer  United States
506     CM-12385  Christopher Martinez     Consumer  United States
2665    HF-14995       Herbert Flentye     Consumer  United States
5893    SS-20410       Shahid Shariari     Consumer  United States
4300    PO-18850       Patrick O'Brill     Consumer  United States
4155    MP-17965         Michael Paige    Corporate  United States
2120    TS-21085         Thais Sissman     Consumer  United States
2217    DB-13555       Dorothy Badders    Corporate  United States
7805    SJ-20125         Sanjit Jacobs  Home Office  United States
7573    FH-14275          Frank Hawley    Corporate  United States
3589    FM-14290          Frank Merwin  Home Office  United States
865     AJ-10780        Anthony Jacobs    Corporate  United States
8850    FA-14230        Frank Atkinson    Corporate  United States
3381    SP-20620      Stefania Perrino    Corporate  United States
...          ...                   ...          ...            ...
9033    SC-20095          Sanjit Chand     Consumer  United States
5185    JD-15790            John Dryer     Consumer  United States
1433    IM-15070          Irene Maddox     Consumer  United States
7846    JK-15205          Jamie Kunitz     Consumer  United States
8993    VP-21760      Victoria Pisteka    Corporate  United States
5301    AH-10690         Anna Häberlin    Corporate  United States
8680    JD-15895      Jonathan Doherty    Corporate  United States
8699    TS-21205           Thomas Seio    Corporate  United States
1155    PS-19045       Penelope Sewall  Home Office  United States
4881    TB-21175         Thomas Boland    Corporate  United States
5300    AH-10690         Anna Häberlin    Corporate  United States
5320    Dp-13240           Dean percer  Home Office  United States
3580    MT-17815           Meg Tillman     Consumer  United States
7474    ME-17320         Maria Etezadi  Home Office  United States
4128    JL-15835              John Lee     Consumer  United States
2848    DM-13345         Denise Monton    Corporate  United States
994     MW-18235      Mitch Willingham    Corporate  United States
8236    CJ-12010       Caroline Jumper     Consumer  United States
8312    BD-11500       Bradley Drucker     Consumer  United States
5562    JE-15610               Jim Epp    Corporate  United States
1454    MC-17425          Mark Cousins    Corporate  United States
4093    KW-16435       Katrina Willman     Consumer  United States
7583    KH-16690      Kristen Hastings    Corporate  United States
3280    GM-14695          Greg Maxwell    Corporate  United States
9639    JH-15985           Joseph Holt     Consumer  United States
4297    PO-18850       Patrick O'Brill     Consumer  United States
509     CM-12385  Christopher Martinez     Consumer  United States
683     GT-14635        Grant Thornton    Corporate  United States
8488    SE-20110          Sanjit Engle     Consumer  United States
2697    SM-20320           Sean Miller  Home Office  United States

                  City    ...     Postal Code  Region       Product ID  \
2605      Jacksonville    ...           32216   South  OFF-BI-10000591
9382             Tampa    ...           33614   South  OFF-AR-10001868
6597      Jacksonville    ...           32216   South  OFF-BI-10002557
7900           Memphis    ...           38109   South  TEC-AC-10003709
8317        Burlington    ...           27217   South  OFF-AR-10000422
4005           Roswell    ...           30076   South  OFF-AR-10003087
5479             Miami    ...           33180   South  OFF-BI-10001097
7311             Miami    ...           33178   South  OFF-BI-10000145
3769           Hialeah    ...           33012   South  OFF-FA-10000490
5440           Jupiter    ...           33458   South  OFF-AR-10002335
4878         Pensacola    ...           32503   South  OFF-BI-10000201
2779     Pompano Beach    ...           33068   South  TEC-AC-10003433
8215      Murfreesboro    ...           37130   South  OFF-BI-10004506
4913      Johnson City    ...           37604   South  OFF-BI-10003727
8579        Louisville    ...           40214   South  OFF-LA-10002368
8207     Daytona Beach    ...           32114   South  OFF-AR-10004757
3687  Port Saint Lucie    ...           34952   South  OFF-BI-10004140
506            Atlanta    ...           30318   South  OFF-AR-10001662
2665           Memphis    ...           38109   South  OFF-BI-10002954
5893           Atlanta    ...           30318   South  OFF-BI-10004876
4300       Tallahassee    ...           32303   South  FUR-FU-10001852
4155           Bristol    ...           37620   South  OFF-BI-10000145
2120      Ormond Beach    ...           32174   South  OFF-BI-10000145
2217      Jacksonville    ...           32216   South  OFF-AR-10003469
7805          Franklin    ...           37064   South  OFF-AR-10001315
7573      Newport News    ...           23602   South  OFF-AR-10001022
3589          Richmond    ...           40475   South  OFF-BI-10000546
865        Springfield    ...           22153   South  OFF-LA-10004272
8850           Raleigh    ...           27604   South  OFF-BI-10004728
3381             Tampa    ...           33614   South  OFF-EN-10004030
...                ...    ...             ...     ...              ...
9033      Fayetteville    ...           72701   South  OFF-BI-10001359
5185      Jacksonville    ...           32216   South  OFF-ST-10004459
1433          Florence    ...           35630   South  FUR-CH-10000513
7846         Arlington    ...           22204   South  TEC-PH-10002496
8993          Columbia    ...           38401   South  FUR-TA-10001950
5301       Springfield    ...           22153   South  TEC-AC-10003033
8680          Richmond    ...           23223   South  OFF-AP-10002945
8699         Nashville    ...           37211   South  TEC-PH-10000560
1155      Harrisonburg    ...           22801   South  FUR-TA-10001932
4881         Henderson    ...           42420   South  TEC-AC-10004145
5300       Springfield    ...           22153   South  FUR-TA-10002645
5320         Knoxville    ...           37918   South  FUR-TA-10000198
3580           Jackson    ...           39212   South  FUR-TA-10004915
7474         Henderson    ...           42420   South  FUR-CH-10004063
4128         Charlotte    ...           28205   South  TEC-MA-10001127
2848           Roswell    ...           30076   South  OFF-BI-10001359
994     Virginia Beach    ...           23464   South  OFF-BI-10003925
8236      Jacksonville    ...           32216   South  FUR-CH-10002024
8312          Columbus    ...           31907   South  TEC-PH-10001459
5562           Atlanta    ...           30318   South  TEC-CO-10001449
1454            Mobile    ...           36608   South  TEC-MA-10000010
4093          Florence    ...           41042   South  TEC-MA-10000864
7583       Springfield    ...           22153   South  TEC-PH-10000730
3280        Alexandria    ...           22304   South  OFF-SU-10002881
9639           Concord    ...           28027   South  FUR-TA-10000198
4297       Tallahassee    ...           32303   South  TEC-PH-10001459
509            Atlanta    ...           30318   South  OFF-BI-10003527
683         Burlington    ...           27217   South  TEC-MA-10004125
8488         Arlington    ...           22204   South  TEC-MA-10001127
2697      Jacksonville    ...           32216   South  TEC-MA-10002412

             Category Sub-Category  \
2605  Office Supplies      Binders
9382  Office Supplies          Art
6597  Office Supplies      Binders
7900       Technology  Accessories
8317  Office Supplies          Art
4005  Office Supplies          Art
5479  Office Supplies      Binders
7311  Office Supplies      Binders
3769  Office Supplies    Fasteners
5440  Office Supplies          Art
4878  Office Supplies      Binders
2779       Technology  Accessories
8215  Office Supplies      Binders
4913  Office Supplies      Binders
8579  Office Supplies       Labels
8207  Office Supplies          Art
3687  Office Supplies      Binders
506   Office Supplies          Art
2665  Office Supplies      Binders
5893  Office Supplies      Binders
4300        Furniture  Furnishings
4155  Office Supplies      Binders
2120  Office Supplies      Binders
2217  Office Supplies          Art
7805  Office Supplies          Art
7573  Office Supplies          Art
3589  Office Supplies      Binders
865   Office Supplies       Labels
8850  Office Supplies      Binders
3381  Office Supplies    Envelopes
...               ...          ...
9033  Office Supplies      Binders
5185  Office Supplies      Storage
1433        Furniture       Chairs
7846       Technology       Phones
8993        Furniture       Tables
5301       Technology  Accessories
8680  Office Supplies   Appliances
8699       Technology       Phones
1155        Furniture       Tables
4881       Technology  Accessories
5300        Furniture       Tables
5320        Furniture       Tables
3580        Furniture       Tables
7474        Furniture       Chairs
4128       Technology     Machines
2848  Office Supplies      Binders
994   Office Supplies      Binders
8236        Furniture       Chairs
8312       Technology       Phones
5562       Technology      Copiers
1454       Technology     Machines
4093       Technology     Machines
7583       Technology       Phones
3280  Office Supplies     Supplies
9639        Furniture       Tables
4297       Technology       Phones
509   Office Supplies      Binders
683        Technology     Machines
8488       Technology     Machines
2697       Technology     Machines

                                           Product Name      Sales  Quantity  \
2605                                Avery Binder Labels      1.167         1
9382                        Prang Dustless Chalk Sticks      1.344         1
6597                     Presstex Flexible Ring Binders      1.365         1
7900                          Maxell 4.7GB DVD-R 5/Pack      1.584         2
8317                        Pencil and Crayon Sharpener      1.752         1
4005                            Staples in misc. colors      1.780         1
5479                          Avery Hole Reinforcements      1.869         1
7311                         Zipper Ring Binder Pockets      1.872         2
3769       OIC Binder Clips, Mini, 1/4" Capacity, Black      1.984         2
5440                               DIXON Oriole Pencils      2.064         1
4878  Avery Triangle Shaped Sheet Lifters, Black, 2/...      2.214         3
2779                          Maxell 4.7GB DVD+R 5/Pack      2.376         3
8215  Wilson Jones data.warehouse D-Ring Binders wit...      2.469         1
4913  Avery Durable Slant Ring Binders With Label Ho...      2.508         2
8579                                          Avery 479      2.610         1
8207                            Crayola Colored Pencils      2.624         1
3687                            Avery Non-Stick Binders      2.694         2
506             Rogers Handheld Barrel Pencil Sharpener      2.740         1
2665  Newell 3-Hole Punched Plastic Slotted Magazine...      2.742         2
5893             Wilson Jones Suede Grain Vinyl Binders      2.780         1
4300  Eldon Regeneration Recycled Desk Accessories, ...      2.784         2
4155                         Zipper Ring Binder Pockets      2.808         3
2120                         Zipper Ring Binder Pockets      2.808         3
2217                                     Nontoxic Chalk      2.816         2
7805                                         Newell 310      2.816         2
7573      SANFORD Liquid Accent Tank-Style Highlighters      2.840         1
3589                              Avery Durable Binders      2.880         1
865                                           Avery 482      2.890         1
8850  Wilson Jones Turn Tabs Binder Tool for Ring Bi...      2.892         2
3381            Convenience Packs of Business Envelopes      2.896         1
...                                                 ...        ...       ...
9033         GBC DocuBind TL300 Electric Binding System   1793.980         2
5185                        Tennsco Single-Tier Lockers   1801.632         6
1433                  High-Back Leather Manager's Chair   1819.860        14
7846                                       Cisco SPA301   1871.880        12
8993                       Balt Solid Wood Round Tables   1875.258         7
5301  Plantronics CS510 - Over-the-Head monaural Wir...   1979.700         6
8680  Honeywell Enviracaire Portable HEPA Air Cleane...   2104.550         7
8699  Samsung Galaxy S III - 16GB - pebble blue (T-M...   2239.936         8
1155  Chromcraft 48" x 96" Racetrack Double Pedestal...   2244.480         7
4881                      Logitech diNovo Edge Keyboard   2249.910         9
5300                  Hon Rectangular Conference Tables   2275.500        10
5320  Chromcraft Bull-Nose Wood Oval Conference Tabl...   2314.116         7
3580  Office Impressions End Table, 20-1/2"H x 24"W ...   2430.080         8
7474            Global Deluxe High-Back Manager's Chair   2573.820         9
4128  HP Designjet T520 Inkjet Large Format Printer ...   2624.985         3
2848         GBC DocuBind TL300 Electric Binding System   2690.970         3
994         Fellowes PB300 Plastic Comb Binding Machine   2715.930         7
8236       HON 5400 Series Task Chairs for Big and Tall   2803.920         5
8312                            Samsung Galaxy Mega 6.3   2939.930         7
5562               Hewlett Packard LaserJet 3310 Copier   2999.950         5
1454  Hewlett-Packard Deskjet 3050a All-in-One Color...   3040.000         8
4093                 Cisco 9971 IP Video Phone Charcoal   3080.000         7
7583                           Samsung Galaxy S4 Active   3499.930         7
3280  Martin Yale Chadless Opener Electric Letter Op...   4164.050         5
9639  Chromcraft Bull-Nose Wood Oval Conference Tabl...   4297.644        13
4297                            Samsung Galaxy Mega 6.3   4367.896        13
509   Fellowes PB500 Electric Punch Plastic Comb Bin...   6354.950         5
683           Cubify CubeX 3D Printer Triple Head Print   7999.980         4
8488  HP Designjet T520 Inkjet Large Format Printer ...   8749.950         5
2697  Cisco TelePresence System EX90 Videoconferenci...  22638.480         6

      Discount     Profit
2605       0.7    -0.8558
9382       0.2     0.5040
6597       0.7    -0.9100
7900       0.2     0.4752
8317       0.2     0.1533
4005       0.0     0.4984

In [13]:
# Find the mean of quantity for every region
print(store.groupby(by = 'Region').mean()['Quantity'])

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

In [15]:
# Find the mean of sales for every category
print(store.groupby(by = 'Category').mean()['Sales'])

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

In [3]:
# Find the max, min, sum of sales and profit for every category
grp_cat = store.groupby(by = 'Category')
for i in ['Sales','Profit']:
    print("For",i,":")
    print(grp_cat.min()[i])
    print()
    print(grp_cat.max()[i])
    print()
    print(grp_cat.sum()[i])
    print("================================")

For Sales :
Category
Furniture          1.892
Office Supplies    0.444
Technology         0.990
Name: Sales, dtype: float64

Category
Furniture           4416.174
Office Supplies     9892.740
Technology         22638.480
Name: Sales, dtype: float64

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64
================================
For Profit :
Category
Furniture         -1862.3124
Office Supplies   -3701.8928
Technology        -6599.9780
Name: Profit, dtype: float64

Category
Furniture          1013.127
Office Supplies    4946.370
Technology         8399.976
Name: Profit, dtype: float64

Category
Furniture           18451.2728
Office Supplies    122490.8008
Technology         145454.9481
Name: Profit, dtype: float64
================================

In [5]:
# Find the max, min, sum of sales and profit for every category
store.groupby('Category')[['Sales','Profit']].agg(['min','max','sum'])

                 Sales                             Profit            \
                   min        max          sum        min       max
Category
Furniture        1.892   4416.174  741999.7953 -1862.3124  1013.127
Office Supplies  0.444   9892.740  719047.0320 -3701.8928  4946.370
Technology       0.990  22638.480  836154.0330 -6599.9780  8399.976


                         sum
Category
Furniture         18451.2728
Office Supplies  122490.8008
Technology       145454.9481

In [6]:
# Find sum of sales and max profit for every segment
grp_seg = store.groupby(by = 'Segment')
print(grp_seg.sum()['Sales'])
print(grp_seg.max()['Profit'])

Segment
Consumer       1.161401e+06
Corporate      7.061464e+05
Home Office    4.296531e+05
Name: Sales, dtype: float64
Segment
Consumer       6719.9808
Corporate      8399.9760
Home Office    3919.9888
Name: Profit, dtype: float64

In [7]:
store.groupby('Segment').agg({'Sales':np.sum, 'Profit':np.max})

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

In [25]:
# For every segment find the mean of the discount
print(grp_seg.mean()['Discount'])

Segment
Consumer       0.158141
Corporate      0.158228
Home Office    0.147128
Name: Discount, dtype: float64

In [29]:
# For every segment find the most profitable customers
max_pro = store.groupby(by='Segment').max()['Profit']
type(max_pro)
print("For Consumer Segment the max profit has been made by ", store[store.Profit==max_pro.Consumer]['Customer Name'].values)
print("For Corporate Segment the max profit has been made by ", store[store.Profit==max_pro.Corporate]['Customer Name'].values)
print("For Corporate Segment the max profit has been made by ", store[store.Profit==max_pro['Home Office']]['Customer Name'].values)

For Consumer Segment the max profit has been made by  ['Raymond Buch']
For Corporate Segment the max profit has been made by  ['Tamara Chand']
For Corporate Segment the max profit has been made by  ['Tom Ashbrook']

In [30]:
# What are the top 5 categories that give maximum profit?
cat_profit = (store.groupby(by = 'Sub-Category').max()['Profit'])
print(cat_profit.sort_values(ascending=False).head())

Sub-Category
Copiers      8399.9760
Binders      4946.3700
Machines     2799.9840
Phones       1228.1787
Bookcases    1013.1270
Name: Profit, dtype: float64

In [32]:
# What is the Total Sales, Quantity, Discount, Profit across Total US.
print("Total Sales:",store.Sales.sum())
print("Total Quantity:",store.Quantity.sum())
print("Total Discount:",store.Discount.sum())
print("Total Profit:",store.Profit.sum())

Total Sales: 2297200.860299955
Total Quantity: 37873
Total Discount: 1561.0900000000954
Total Profit: 286397.0217000013

In [34]:
# How many times has it taken more than 5 days from placing an order to shipping
store['Order Date'] = pd.to_datetime(store['Order Date'])
store['Ship Date'] = pd.to_datetime(store['Ship Date'])
noday = store['Ship Date'] - store['Order Date']
noday = (noday / np.timedelta64(1,'D')).astype(int)
count = 0
for i in noday:
    if(i > 5):
        count = count + 1
    else:
        continue
print("The number of days it took to place an order to shipping:",count)

The number of days it took to place an order to shipping: 1822

In [35]:
# Find the total number of orders in every category which has been shipped with a duration > 5 days
pos = list()
pos2 = list()
for i in range(len(noday)):
    if(noday[i] > 5):
        pos.append(i)
    else:
        pos2.append(i)
storenew = store.iloc[pos,:]
countcat5 = storenew.groupby(by='Category').count()['Order ID']
print(countcat5)

Category
Furniture           365
Office Supplies    1131
Technology          326
Name: Order ID, dtype: int64

In [36]:
# What’s the percentage of items which has been shipped within 5 days
storenew2 = store.iloc[pos2,:]
countcat = storenew2.groupby(by='Category').count()['Order ID']
percless5 = countcat*100/storenew2.shape[0]
print(percless5)

Category
Furniture          21.488008
Office Supplies    59.899657
Technology         18.612335
Name: Order ID, dtype: float64

In [37]:
# What’s the percentage of items which has been shipped after 5 days
percmore5 = countcat5*100/storenew.shape[0]
print(percmore5)

Category
Furniture          20.032931
Office Supplies    62.074643
Technology         17.892426
Name: Order ID, dtype: float64